{% extends 'auth_base.html' %}
{% load static %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="d-flex flex-column align-items-center dataColumn">
                <h1 class="my-3">Successfully</h1>
                <h5>Dear <b style="color: blue;">{{email}}</b> you have successfully reset your
                    SHORTNER
                    account password.</h5>
            </div>
        </div>
    </div>
</div>

{% endblock  %}