{% extends 'auth_base.html' %}
{% load static %}
{% load widget_tweaks %}



{% block content %}
<div class="row align-items-center h-100 m-0">

    <form class="col-lg-3 col-md-4 col-10 mx-auto text-center" method="POST">
        {% csrf_token %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{message.tags}} text-danger" style="margin: 0px;">
            {{message}}
        </div>
        {% endfor %}
        {% endif %}
        <div class="navbar-brand mx-auto mt-2 flex-fill text-center">
            <i class="fas fa-unlock fa-8x text-primary"></i>
            <h3 class="mt-2">Reset Password</h3>
        </div>
        <p class="lead">Enter a registered email address to reset your account password</p>

        <div class="form-group mb-3">
            <label for="inputEmail" class="sr-only">Email</label>
            {{form.email|add_class:"form-control"|attr:"placeholder:Email"|attr:"type:email"}}
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Reset Password</button>
    </form>


</div>


{% endblock  %}