{% extends 'auth_base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card" style="min-width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Reset your password</h5>
                        <p class="card-subtitle mb-2 text-muted">Create new password</p>
                        <form action="." method="post">
                            {% csrf_token %}
                            <div class="form-group row">

                                <div class="col-lg-12 pb-3">
                                    <label>New password:</label>
                                    {{form.new_password1|add_class:"form-control"|attr:"placeholder:New password"}}
                                    <span class="text-danger">
                                        {{form.new_password1.errors}}
                                    </span>
                                </div>
                                <div class="col-lg-12 pb-3">
                                    <ul class="text-muted fw-light" style="font-size: 14px;">
                                        <li>Your password can’t be too similar to your other personal information.</li>
                                        <li>Your password must contain at least 8 characters.</li>
                                        <li>Your password can’t be a commonly used password.</li>
                                        <li>Your password can’t be entirely numeric.</li>
                                    </ul>

                                </div>
                                <div class="col-lg-12 pb-3">
                                    <label>New password confirmation:</label>
                                    {{form.new_password2|add_class:"form-control"|attr:"placeholder:New password confirmation"}}
                                     <span class="text-danger">
                                         {{form.new_password2.errors}}
                                     </span>
                                </div>
                                <div class="col-lg-12 pb-3">
                                    <div class="d-grid gap-2">
                                         <button type="submit" class="btn btn-primary mb-3">Reset
                                             Password</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
        
    {% endblock  %}
        