{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container">
    <div class="row justify-content-center">

        <div class="col-lg-6 p-3">
            <h3 class=" m-3">Change Password</h3>

            <div class=" p-5 bg-white element-shadow">

                <form action="" method="POST">
                    {% csrf_token %}

                    {{form.as_p}}

                    <button type="submit" class="btn btn-success">Update</button>

                </form>

            </div>
        </div>
    </div>
</div>


{% endblock %}