{% extends 'auth_base.html' %}
{% load static %}


{% block content %}

<div class="row align-items-center h-100 m-0">

    <div class="col-lg-4 col-10 mx-auto text-center" method="POST">

        <a class="navbar-brand mx-auto mt-2 flex-fill text-center" href="{% url 'accounts:signin' %}">
            <h3 class="my-3">Reset Password</h3>
        </a>
        <p class="lead">An email has been sent to <strong>{{email}}</strong>. Please check your email to reset your
            account password.</p>
        <p class="lead"></p>
         <p class="text-muted">Note: Reset link valid within 15 minutes</p>

        <a href="{% url 'accounts:resend_password_reset_email' email=email %}" class="btn btn-lg btn-primary btn-block"
            type="submit">Resend Email</a>

        <div class="text-center mt-4 text-lg ">
            <p class="text-gray-600">Don't have an account? <a href="{% url 'accounts:signup' %}" class="font-bold">Sign
                    up</a>.</p>
        </div>
        <div class="text-center mt-4 text-lg ">
            <p class="text-gray-600">Have an account <a href="{% url 'accounts:signin' %}" class="font-bold">Sign
                    in</a>.</p>
        </div>
        <div class="text-center mt-4 text-lg ">
            <a href="{% url 'accounts:reset_password_email' %}" class="font-bold">Forgot my password</a>
        </div>
    </div>


</div>
{% endblock %}