{% extends 'base.html' %}



{% block content %}

<div class="container">
    
    <div class="row justify-content-center">

        <div class="col-lg-4 p-3">

            <div class="bg-white">

                <h3 class="text-color-1 font-weight-bold text-center mt-3">Delete URL</h3>

                <form action="" method="post">
                    {% csrf_token %}
                    <div class=" form-row">

                        <div class="col-12 mb-3">
                           <label class="form-label">Full URL</label>
                           <input type="url" class="form-control" 
                               placeholder="URL" name="link" value="{{url_obj.full_url}}" readonly disabled>
                        </div>

                    </div>

                    <div class=" d-flex justify-content-center mb-4">
                        <button type="submit" class="btn btn-danger w-50">Delete</button>
                    </div>

                </form>
                

            </div>


        </div>

    </div>
</div>

    
{% endblock content %}
    